<footer class="site-footer">
  <div class="container">
    <!-- Social Media Links -->
    <div class="footer-social">
      <h5>Social Media Links</h5>
      {% include social-media-links.html %}
    </div>

    <!-- Footer Navigation -->
    <div class="footer-links">
      <h5>Quick Links</h5>
      <ul>
        {% for item in site.data.resources.footer-links %}
        {% if item %}
        <li><a href="{% link {{ item.dir }} %}">{{ item.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- Footer Branding -->
    {% assign logo = site.data.logos.dark-192x192 %}
    {% if logo %}
    <div class="footer-branding">
      <a href="{% link index.html %}" class="footer-logo">
        <img src="{% link {{ logo.src }} %}" alt="{{ logo.alt }}"></a>
      {% endif %}
      <p>&copy; {{ site.time | date: '%Y' }} The Programming Squirrel. All
        rights reserved.</p>
    </div>
  </div>
</footer>