<nav class="main-navigation">
  <div class="container">
    {% assign logo = site.data.logos.dark-512x512 %}
    {% if logo %}
    <a href="{% link index.html %}" class="logo"><img
        src="{% link {{ logo.src }} %}" alt="{{ logo.alt }}"></a>
    {% endif %}

    <ul class="nav-links">
      {% for item in site.data.resources.navbar %}
      {% if item %}
      <li>
        <a href="{{ item.dir }}" title="{{ item.title }}" {% if page.url
          contains {{ item.dir }} %} class="active" {% endif %}>
          <i class="fa-solid {{ item.icon }} fa-xl"></i> {{ item.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>