<nav class="main-navigation">
  <div class="container">
    {% if site.data.menus.logo %}
    {% for item in site.data.menus.logo %}
    <a href="{% link item.dir %}" class="logo">
      <img src="{{ item.src }}" alt="{{ item.alt }}">
    </a>
    {% endfor %}
    {% endif %}
    <ul class="nav-links">
      {% if site.data.menus.navbar %}
      {% for item in site.data.menus.navbar %}
      <li>
        <a href="{% link item.dir %}" title="{{ item.title }}" {% if
          page.url=={{ page.permalink }} %} class="active" {% endif %}><i
            class="fa-solid {{ item.icon }} fa-xl"></i> {{ item.title }}</a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>