---
layout: default
---
<article class="post">
  <div class="container">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      <p>Published on {{ page.date | date: '%B %d, %Y' }} by
      </p>
      <a class="post-author" href="{% link /portfolio/index.md %}"
        title="Go to author's portfolio."> <img class="post-author-avatar"
          src="{% link {{ page.author.avatar | default: site.author.avatar }} %}">
        <p class="post-author-name">
          {{ page.author.name | default: site.author.name }}
        </p>
      </a>
    </div>
    <h2>Table of Contents 🪑</h2>
    {{ content | toc }}
    <nav class="post-navigation">
      {% if page.previous.url %}
      <a href="{{ page.previous.url }}" class="prev-post">&larr;
        {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next.url %}
      <a href="{{ page.next.url }}" class="next-post">{{ page.next.title }}
        &rarr;</a>
      {% endif %}
    </nav>
  </div>

  {% include share-post.html %}
</article>